<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <h1>Mi app
    </h1>
    <div class="contenedor">
        <div id="Account">
            <h2>Create an Account</h2>
        </div>
        <div id="signup">
            <h3>Enter your email to sign up for this app</h3>
        </div>
        <div id="input">
            <input type="Ingresa tu correo">
        </div>
        <div id="signupbutton">
            <button>Sign up with email</button>
        </div>
        <div id="or">
            <h4>----------or continue with-----------</h4>
        </div>
        <div id="google">
            <button id="googlebotton" > <div class="df"><img id="icongoogle" src="../assets/icons/Google.png" alt="google"> <p>Google</p> </div>   </button>
        </div>
        <div id="terms">
            <h5>By clicking continue you aree to our Terms of Service and Privacy Policy</h5>
        </div>
    </div>
</body>
</html>