<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banner Article</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="wraper">
      <div class="containertext">

        <div class="items">
          <h1 id="title">Nuestros Ingredientes</h1>
        </div>
        <div class="items">
          <h2 id="paragraph">
            Sub heading that sets up context, shares ,ore info about the author,
            or generally gets people psyched to keep reading
          </h2>
        </div>
      </div>
      <div class="container">

        <div class="imagen">
          <img id="mage" src="../assets/images/banner.png" alt="Banner" />
        </div>
      </div>
    </div>
  </body>
</html>
