<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <h1>Contactos</h1>
    <id="users">
        <!-- User 1 -->
        <div class="user-container">
            <img class="user-image" src="../assets/images/helena.png" alt="helena">
            <div class="user-info">
                <div><strong>Helena</strong></div>
                <div><strong>email@figmasfakedomain.net</strong></div>
            </div>
        </div>
        <!-- User 2 -->
        <div class="user-container">
            <img class="user-image" src="../assets/images/oscar.png" alt="Oscar">
            <div class="user-info">
                <div><strong>Oscar</strong></div>
                <div><strong>email@figmasfakedomain.net</strong></div>
            </div>
        </div>
    <!-- User 3 -->
    <div class="user-container">
        <img class="user-image" src="../assets/images/daniel.png" alt="Daniel">
        <div class="user-info">
            <div><strong>Daniel</strong> </div>
            <div><strong>email@figmasfakedomain.net:</strong></div>
        </div>
    </div>
    <!-- User 4 -->
    <div class="user-container">
        <img class="user-image" src="../assets/images/jay.png" alt="jay">
        <div class="user-info">
            <div><strong>Daniel Jay Park</strong></div>
            <div><strong>email@figmasfakedomain.net</strong></div>
        </div>
    </div>
    <!-- User 5 -->
    <div class="user-container">
        <img class="user-image" src="../assets/images/mark.png" alt="Mark">
        <div class="user-info">
            <div><strong>Mark Rojas</strong></div>
            <div><strong>email@figmasfakedomain.net</strong></div>
        </div>
    </div>
    </div>
    </div>
    
</body>
</html>